name: Release

on:
  push:

jobs:
  release:
    uses: sxzz/workflows/.github/workflows/release.yml@v1
    with:
      publish: true
      github-release: false
    permissions:
      contents: write
      id-token: write
